---
- name: Ensure custom configuration directory exists
  file:
    path: /etc/nginx/custom.d
    state: directory

- name: Install conf for forbiden files
  template:
    src: "{{ item }}"
    dest: /etc/nginx/custom.d/forbidden-{{ item | basename | regex_replace('.j2','') }}
  loop: "{{ lookup('fileglob', 'templates/nginx/forbidden/*.j2', wantlist=True) }}"
  notify: restart_nginx

- name: Remove default nginx vhost
  file:
    path: /etc/nginx/sites-available/default
    state: absent
    
- name: Setup default nginx vhost
  template:
    src: "templates/nginx/vhost/vhost-default.conf.j2"
    dest: "/etc/nginx/sites-enabled/default"

- name: Ensure Nginx config is OK
  ansible.builtin.command: nginx -t
  notify:
    - restart_nginx
