---
- name: Ensure custom configuration directory exists
  file:
    path: /etc/nginx/custom.d
    state: directory

- name: Install Custom Configurations
  template:
    src: "{{ item }}"
    dest: /etc/nginx/custom.d/{{ item | basename | regex_replace('.j2','') }}
  loop: "{{ lookup('fileglob', 'templates/nginx/*.j2', wantlist=True) }}"
  notify: restart_nginx

- name: Ensure Nginx config is OK
  ansible.builtin.command: nginx -t
  notify:
    - restart_nginx
