# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

[DEFAULT]
banaction           = iptables-multiport
banaction_allports  = iptables-allports
action              = irc_notifications
