# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------
# Updated on {{ template_run_date }}
# ---------------------------------------------------------

[DEFAULT]
banaction           = nftables
banaction_allports  = nftables[type=allports]
action              = irc_notifications