# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

[DEFAULT]
banaction           = nftables
banaction_allports  = nftables[type=allports]
action              = irc_notifications