---

- name: Ensure Repo Folder Exists
  ansible.builtin.file:
    path: "/home/bgiarrizzo/code/Websites/{{ item.url }}"
    state: directory
  with_items: "{{ website_list }}"

- name: Clone website repositories
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "/home/bgiarrizzo/code/Websites/{{ item.url }}"
  with_items: "{{ website_list }}"
  become: yes
  become_user: bgiarrizzo

- name: Set Crontab that will pull latest changes every minute
  ansible.builtin.cron:
    name: "Git pull for {{ item.url }}"
    minute: "*/1"
    user: bgiarrizzo
    job: "cd /home/bgiarrizzo/code/Websites/{{ item.url }} && git pull --ff-only | grep -qv 'Déjà à jour.' && make build"
  with_items: "{{ website_list }}"

- name: Link website repo to Nginx root
  ansible.builtin.file:
    src: "/home/bgiarrizzo/code/Websites/{{ item.url }}/build/"
    dest: "/var/www/{{ item.url }}"
    state: link
    force: yes
  with_items: "{{ website_list }}"

- name: Create Nginx Config for Websites
  ansible.builtin.template:
    src: "vhost.conf.j2"
    dest: "/etc/nginx/sites-enabled/{{ item.url }}"
  with_items: "{{ website_list }}"
  notify:
    - restart_nginx

- name: Create Log Directory for Website Apps
  ansible.builtin.file:
    path: "/var/log/nginx/{{ item.url }}"
    state: directory
    mode: '0755'
  with_items: "{{ website_list }}"

- name: Get Let's Encrypt certificates
  ansible.builtin.command: >
    certbot certonly --nginx -d {{ item.url }}
    {% if item.url.split('.') | length == 2 %}
      -d www.{{ item.url }}
    {% endif %}
    --non-interactive --agree-tos --email {{ certbot_email }}
  with_items: "{{ website_list }}"
  notify:
    - restart_nginx

- name: Ensure stats folder exists
  ansible.builtin.file:
    path: "/var/www/{{ item.url }}/stats/"
    state: directory
  with_items: "{{ website_list }}"

- name: Create or update cronjob for stats generation via goaccess (without crawlers)
  ansible.builtin.cron:
    name: "Generate stats for {{ item.url }}"
    minute: "*/10"
    user: root
    job: /bin/bash -c 'd=$(date +"%Y-%m"); mkdir -p /var/www/{{ item.url }}/stats/$d && grep -Ev "{{ goaccess_exclude_patterns | join("|") }}" /var/log/nginx/{{ item.url }}/access.log | goaccess - --unknowns-as-crawlers --ignore-crawlers --log-format=COMBINED --exclude-ip={{ goaccess_exclude_ips | join(",") }} -o /var/www/{{ item.url }}/stats/$d/index.html' >> /var/log/goaccess_cron.log
  with_items: "{{ website_list }}"

- name: Create or update cronjob for stats generation via goaccess (with crawlers)
  ansible.builtin.cron:
    name: "Generate stats with crawlers for {{ item.url }}"
    minute: "*/10"
    user: root
    job: /bin/bash -c 'd=$(date +"%Y-%m"); mkdir -p /var/www/{{ item.url }}/stats/$d && grep -Ev "{{ goaccess_exclude_patterns | join("|") }}" /var/log/nginx/{{ item.url }}/access.log | goaccess - --log-format=COMBINED --exclude-ip={{ goaccess_exclude_ips | join(",") }} -o /var/www/{{ item.url }}/stats/$d/with-crawlers.html' >> /var/log/goaccess_cron.log
  with_items: "{{ website_list }}"

- name: Ensure Nginx config is OK
  ansible.builtin.command: nginx -t
  notify:
    - restart_nginx

