---

- name: Docker Pull Image
  community.docker.docker_image_pull:
    name: "{{ item.docker.image.name }}"
    tag: "{{ item.docker.image.tag | default('latest') }}"
    pull: always
  with_items: "{{ minecraft_apps }}"

- name: Docker Run Containers
  community.docker.docker_container:
    name: "{{ item.name }}"
    image: "{{ item.docker.image.name }}:{{ item.docker.image.tag | default('latest') }}"
    state: started
    restart_policy: "{{ item.docker.restart | default('unless-stopped') }}"
    env: "{{ item.docker.environment | default(omit) }}"
    volumes: "{{ item.docker.volumes | default(omit) }}"
    ports: "{{ item.docker.ports | default(omit) }}"
    recreate: "{{ item.docker.recreate | default(false) }}"
  with_items: "{{ minecraft_apps }}"
