# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------
# Updated on {{ template_run_date }}
# ---------------------------------------------------------

# Bloquer phpinfo (fichier, script, ou répertoire)

location ~* /[._-]*phpinfo([._-]*php)?(/|$) {
    deny all;
}

# Bloquer phpMyAdmin et ses alias (phpmyadmin, pma)

location ~* /(phpmyadmin|pma)([._-]*php)?(/|$) {
    deny all;
}

# Bloquer Adminer (outil de gestion PHP)

location ~* /adminer([._-]*php)?(/|$) {
    deny all;
}