# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------
# Updated on {{ template_run_date }}
# ---------------------------------------------------------

# Interdire l'accès aux APIs GraphQL

location ~* /graphql(/api)?$ {
    deny all;
}

# Bloquer aussi toute URL qui commence par /graphql (ex: /graphql/subpath)

location ~* ^/graphql(/|$) {
    deny all;
}
