# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------
# Updated on {{ template_run_date }}
# ---------------------------------------------------------

# Interdire l'accès direct à wp-config.php et .htaccess
location = /wp-config.php { deny all; }
location = /.htaccess { deny all; }
location = /readme.html { deny all; }
location = /xmlrpc.php { deny all; }

# Interdire l'accès aux répertoires WordPress
location ~* /(wp-admin|wp-includes|wp-content|wp-content/uploads|wp-content/plugins|wp-content/themes)/.*$ {
    deny all;
}
