# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------
# Updated on {{ template_run_date }}
# ---------------------------------------------------------

# Interdire l'accès aux APIs communes utilisées pour les documentations et tests

# /api
location ~* (/api-docs/swagger.json|/api/gql|/api/graphql|/api/swagger.json)$ {
    deny all;
}

# /graphql 
location ~* (/graphql|/graphql/api)$ {
    deny all;
}

# /swagger & swagger-ui
location ~* (/swagger|/swagger-ui|/swagger/index.html|/swagger/swagger-ui.html|/swagger/v1/swagger.json)$ {
    deny all;
}
