# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

location ~* /(\.git|\.gitignore|\.gitattributes|\.gitmodules|\.gitconfig|\.git-credentials|\.gitkeep)$ {
    deny all;
}

# Interdire l'accès aux fichiers dans un répertoire .git
location ~* /\.git/.*$ {
    deny all;
}
