# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------
# Updated on {{ template_run_date }}
# ---------------------------------------------------------

location ~* /wp-config.php.*$ {
    deny all; 
}

location ~* /(wp-admin|wp-admin/).*$ {
    deny all;
}

location ~* /(wp-includes|wp-includes/).*$ {
    deny all;
}

location ~* /(wp-content|wp-content/).*$ {
    deny all;
}

