# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

[Definition]
failregex = ^<HOST> - - \[.*\] "(GET|POST|HEAD|OPTIONS) [^"]*/(?:\.?env(?:\.[^.\/" ]+)*)(?:\?| HTTP).*"

ignoreregex =