# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

[Definition]

# Principal motif : fichiers/dossiers WordPress ciblés
_wp_paths = wp-login\.php|wp-admin|xmlrpc\.php|wp-content|wp-includes|wp-comments-post\.php|wp-cron\.php|wp-json|wp-trackback\.php|wp-signup\.php|wp-links-opml\.php|wp-.*

failregex = ^<HOST> - - \[.*\] "(GET|POST) .*\/(_?wordpress|wp|WP|wP|Wp)\/?({ _wp_paths })?[^ ]* HTTP.*
            ^<HOST> - - \[.*\] "(GET|POST) .*\/?({ _wp_paths })?[^ ]* HTTP.*

# Ignorer les accès simples à /blog/ sans ciblage WordPress pour permettre les ressources légitimes
ignoreregex = ^<HOST> - - \[.*\] "(GET|POST) /blog/?(\?.*)? HTTP.*
