# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

[nginx-dotenv]
enabled    = true
port       = http,https
filter     = nginx-dotenv
bantime    = 604800 ; 1 week
findtime   = 600	; 10 minutes
maxretry   = 1
logpath    = /var/log/nginx/access.log
	/var/log/nginx/**/access.log
