# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------
# Updated on {{ template_run_date }}
# ---------------------------------------------------------

# ---------------------------------------------------------------------------------------------------------------------------------
## Personal SSH Keys

# Macbook Pro
ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBDbVDlepDwTEBr8fkqAzlpuvTer6rcZteAKSL/rBQeeSo/M+cZaoa602QIuaBwqZUQpsORBh+01Ckfor/FC/WM8= bgiarrizzo-macbook-pro-cloe@secretive.MacbookProM1.local

# iPad Pro
ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAAyqFvtb3zxL2uJo1bXmKum54QKBddq6dk6OfwiJcMCuxWem9tLL7GQLhL4Kf6jISdbcf9T1/sD6PT9yw8eLore9gEbwydVAIgyGtNvcnqPCUKUb0wE0gXp+DbW/o7yHtNSz6U8A+2Z6QFDE8VibnhK4lMzcJQdMlZfYtCjPud2/JPTZQ== hyweene@ipad-pro

# Laptop Lenovo
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDNOdvQZpp4p4eY4IKOkD3svSfGu3z8KV6W2Myh+6PFR bgiarrizzo@drake

# USB Key
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII+HA7b7KEyHdilDuXIgs5t1hAVGw+TkIoY8J405/xHE bgiarrizzo@traveler.host
