# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------
# Updated on {{ template_run_date }}
# ---------------------------------------------------------

Unattended-Upgrade::Origins-Pattern {
    // Debian security repositories
    "origin=Debian,codename=${distro_codename},label=Debian-Security";
    "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
}
