# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

# Bloque tous les accès apache malveillants.

location ~* (/modules/) {
    deny all;
}

location ~* (/modules/mod_simplefileuploadv1.3/elements/) {
    deny all;
}