# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

# Bloque tous les CGI scripts.

location ~* (/cgi-bin/) {
    deny all;
}