# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

location ~* (config|conf)/(prod|production|stg|staging|dev|development).js$ {
    deny all;
}
