# ---------------------------------------------------------
# This file is managed by Ansible, manual changes will be
# overwritten on the next run.
# ---------------------------------------------------------

# Bloquer l'accès au fichier wp-config.php quel que soit le suffixe

location ~* /wp-config\.php.*$ {
    deny all;
}

# Bloquer l'accès aux dossiers et sous-dossiers wp-admin, wp-includes et wp-content

location ~* ^/(wp-admin|wp-includes|wp-content)(/|$) {
    deny all;
}

# Bloquer xmlrpc.php (souvent cible d'attaques)

location ~* /xmlrpc\.php$ {
    deny all;
}

# Bloquer l'accès à wp-login.php sauf à certaines IP si besoin

location ~* /wp-login\.php$ {
    deny all;
}

# Bloquer les fichiers wlwmanifest.xml quel que soit le repertoire

location ~* /wp-includes/wlwmanifest.xml$ {
    deny all;
}
